
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
  }
  .cta-button {
    background-color: #456859;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }

  .group-therapy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #f4f4f9;
  }
  
  .text-section {
    flex: 1;
    margin-right: 30px;
  }
  
  .text-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .text-section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .image-section {
    flex: 1;
    
  }
  
  .image-section img {
    width: 500px;
    height: auto;
    border-radius: 10px;
  }
  .pjesa1{
    display: flex;
    flex-direction: row;
    width: 100%;

  }
  .pjesa2{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
 
  .therapy-overview {
    background-color: #e6e6e6;
    padding: 5rem;
    text-align: center;
    width: 50%;
  }
  
  .therapy-overview h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .therapy-overview p {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.6;
  }
  
  
  .therapy-benefits {
    background-color: #fff;
    padding: 5rem;
    width: 50%;
  }
  
  .therapy-benefits h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
  
  .therapy-benefits ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .therapy-benefits li {
    font-size: 1.1rem;
    color: #444;
    margin: 0.5rem 0;
  }
  

  .how-it-works {
    background-color: #f5f5f5;
    padding: 5rem;
    text-align: center;
    width: 50%;
  }
  
  .how-it-works h2 {
    font-size: 2rem;
    color: #333;
  }
  
  .how-it-works p {
    font-size: 1.1rem;
    color: #444;
    line-height: 1.6;
  }
  .your-journey{
    background-color: #ababab;
    padding: 5rem;
    text-align: center;
    width: 50%;
  }
  .your-journey h2{
    font-size: 2rem;
    color: #333;
  }
  .your-journe p{
    font-size: 1.1rem;
    color: #444;
    line-height: 1.6;
  }


  .cta-section {
    background-color: #456859;
    color: white;
    padding: 10rem;
    text-align: center;
    width: 100%;

  }
  
  .cta-section h2 {
    font-size: 2rem;
    color: white;
  }
  
  .cta-section p {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 1rem;
  }
  
  .cta-button {
    background-color: #ba845f;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
  }
  

  footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: #7b7878;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 300; 
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    background-color: #f9f9f9;
    color: #333;
  }
  .contact-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: #725a43;
    color: #fff;
    text-decoration: none;
    border-radius: 8px; 
    font-weight: 400;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: #bed6a7;
  }
  @media (min-device-width: 320px) and (max-device-width: 900px){
 
    .pjesa1 {
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .therapy-overview {
    background-color: #e6e6e6;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.therapy-benefits {
  background-color: #fff;
  padding: 2rem;
  width: 100%;
}
.pjesa2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.how-it-works {
  background-color: #f5f5f5;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.your-journey {
  background-color: #ababab;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.cta-section {
  background-color: #456859;
  color: white;
   padding: 2rem; 
  text-align: center;
  width: 100%;
}
.video-text-section {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  padding-bottom: 4rem;
  background-color: #f5f5f5;
}
.video-container {
  flex: 1;
  

}
.text-container h2 {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 1rem;
  margin-top: 15px;
  text-align: left;
}
.text-container p {
  font-size: 0.9rem;
  color: #444;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: left;
}
.text-container {
  flex: 1;
  
}
  }